<template>
    <main>
        <form action="/api/generate" method="POST">
            <div v-for="(value, index) in codes" :key="index">
                <div>
                    <label :for="`code${index}_code`">Code:</label>
                    <select :id="`code${index}_code`"
                            v-model="value.code"
                            :name="`codes[${index}][code]`">
                        <option v-for="(code_value, code_index) in code_list"
                                :key="code_index"
                                :value="code_value">
                            {{ code_value }}
                        </option>
                    </select>
                </div>
                <div>
                    <label :for="`code${index}_country`">Country:</label>
                    <input :id="`code${index}_country`"
                           v-model="value.country"
                           :name="`codes[${index}][country]`">
                </div>
                <div v-if="index !== 0">
                    <button @click="removeCode(index)" type="button">Remove</button>
                </div>
                <hr />
            </div>
            <div>
                <label for="total">Total: </label>
                <input v-model="total" id="total">
            </div>
            <div>
                <button @click="addCode" type="button">Add more</button>
            </div>
            <button @click="sendForm" type="button">Send</button>
        </form>
    </main>
</template>
<script>
    import axios from "axios"
    import router from '../router';
    export default {
        name: "Home",
        data() {
            return {
                codes: [
                    {
                        code: "+1",
                        country: ""
                    }
                ],
                code_list: [
                    "+1", "+44", "+61", "+36", "+353", "+380", "+7", "+223", "+373", "+687", "+51"
                ],
                total: 10
            };
        },
        methods: {
            addCode() {
                this.codes.push({
                    code: "+1",
                    country: ""
                });
            },
            removeCode(index) {
                this.codes.splice(index, 1);
            },
            sendForm() {
                axios.post('/api/generate', {
                    codes: this.codes,
                    total: this.total
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if(response.data.status) {
                        router.push({ name: "Statistic"});
                    }
                });
            }
        }
    }
</script>