<template>
    <div>
        <header>
            <router-link :to="{name: 'Home'}">Back</router-link>
            <a href="/api/upload">Upload</a>
        </header>
        <main>
            <ol>
                <li>Загальна кількість номерів: {{ total}}</li>
                <li>
                    Кількість номерів в розрізі по кожному телеф. кодові країни:
                    <ul>
                        <li v-for="code in codes">{{ code.code }} - {{ code.count }}</li>
                    </ul>
                </li>
                <li>
                    Який код країни зустрічається найменшу кількість разів: {{ min_code}}
                </li>
                <li>
                    Який код країни зустрічається найбільшу кількість разів: {{ max_code }}
                </li>
            </ol>
        </main>
    </div>
</template>
<script>
    import axios from "axios"
    export default {
        name: "Statistic",
        data() {
            return {
                total: 0,
                codes: [],
                min_code: "",
                max_code: ""
            };
        },
        methods: {
            load_data() {
                axios.get('/api/statistic').then(response => {
                    this.total = response.data.total;
                    this.codes = response.data.codes;
                    this.min_code = response.data.min_code;
                    this.max_code = response.data.max_code;
                });
            }
        },
        mounted() {
            this.load_data();
        }
    }
</script>